@font-face{
  src:url(../fonts/PokemonGb-RAeo.ttf);
  font-family: "pokemonGB";
}
body { 
    background: url(../images/pokemonbackground2.jpg) 
  }
.container{
    background-color:white;
    padding:40px;
    text-align: center;

  }

.navbar{
  background-color:#ffdb4d;
  text-align:center;
}
.headimg{
  background-color:#cc0000;
  padding-bottom:15px;
  border-bottom: 2px solid black;
}
#pokemonImg{
  height:200px;
  width:500px;
  position:relative;
  left:400px

}
.unknown{
  height:50px;
  width:50px;
  position: relative;
  left:600px;
  bottom:60px;
  transform:rotate(20deg);
  background-color:#ffdb4d;
  border:2px solid black;
}
.unknown2{
  height:50px;
  width:50px;
  position:relative;
  left: 650px;
  bottom:60px;
  transform:rotate(20deg);
  background-color:#ffdb4d;
  border:2px solid black;
}
h4{
  font-family:"pokemonGB"
}
h5{
  font-family:"pokemonGB"
}
h6{
  font-family:"pokemonGB"
}